body {
    background-color: cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicorn', Geneva, Verdana, sans-serif;
}

#header {
    background-color: red;
    text-align: center;
    padding: 10px;
}

#header  h1 {
    color: blue;
}

#header blockquote {
    background-color: yellow;
}

.menu ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.gambar {
    text-align: center;
}]

.bigger {
    font-size: 20px;
}

.fp::first-letter {
    font-size: 50px;
    color: blue;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    width: 20%;
}

#soekarno {
    font-weight: bold;
}

.promo {
    text-align: center;
}

.promo ol {
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}